<div class="container">
    <div class="portfolio-container">
      <div class="bg-text">
        <p>Be Creative</p>
      </div>
      <div class="bg-white-section">
        <div class="main-section">
          <app-work></app-work>
        </div>
        <div class="follow-section">
          <div class="follow">
            <div class="follow-txt">
              <p>Follow Me On :</p>
            </div>
            <hr />
            <div class="follow-icon">
              <img src="../../../../assets/images/temp/png/facebook.png" alt="" />
              <img src="../../../../assets/images/temp/png/twitter.png" alt="" />
              <img src="../../../../assets/images/temp/png/linkedIn.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
