<div class="work-section">
    <div class="header-section">
      <p>Web & visual Designer</p>
      <div class="header">
        <h1>My</h1>
        <div class="work">
          <div class="font w">w</div>
          <div class="font o">
              <div>o</div>
              <div class="left-line"></div>
              <div class="right-line"></div>
          </div>
          <div class="font r">r</div>
          <div class="font k">k</div>
        </div>
      </div>
    </div>
    <div class="intro-section">
      <div></div>
      <div class="intro">
        <img
          src="../../../../assets/images/temp/png/play-icon.png"
          alt=""
        />
        <p>My Intro</p>
      </div>
    </div>
  </div>
